body  {
  background-color: #DEFCF9;
}
hr {
  border-style:none;
  border-top-style: dotted;
  width: 5%;
  border-color: #CCA8E9;
  border-width: 5px;
}

h1{
    color: #0F4C75;
}

h3{
    color: #0F4C75;       
}